<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8">
    	<title>set-echarts</title>
		<script src="{{ url_for('static', filename='echarts.js') }}"></script>
		<!--锚伪类写法
			a:link {color: #FF0000}		/* 未访问的链接 */
			a:visited {color: #00FF00}	/* 已访问的链接 */
			a:hover {color: #FF00FF}	/* 鼠标移动到链接上 */
			a:active {color: #0000FF}	/* 选定的链接 */
			提示：在 CSS 定义中，a:hover 必须被置于 a:link 和 a:visited 之后，才是有效的。
			提示：在 CSS 定义中，a:active 必须被置于 a:hover 之后，才是有效的。
			提示：伪类名称对大小写不敏感。
			-->
		<style>
		#menu ul
		{
			list-style-type:none;
			margin:0;
			padding:0;
			padding-top:12px;
			padding-bottom:12px;
		}
		li.menu
		{
			display:inline;
		}
		#menu a:link,a:visited
		{
			font-weight:bold;
			color:#FFFFFF;
			background-color:#bebebe;
			width:120px;
			text-align:center;
			padding:18px;
			text-decoration:none;
			text-transform:uppercase;
		}
		#menu a:hover,a:active
		{
			background-color:#cc0000;
		}
		.canvas-container{
			position:relative;
			}
		.div-canvas{
			position:absolute;
			}
		.xycoordinates{
			position:absolute;
			left:5;
			top:5;
			}
		</style>
		<script>
			// menusJson为传入的json字符串
			function fun()
			{
				var x='set_secend_param';
				dF(x);
				var param = document.getElementById('params-list').value;
				var menusj = eval('('+ {{ menusJson|tojson }} +')');
				if (param==''){
					param="{{params[0]}}";
					};
				var paramItems = menusj[param];
				aF(param,paramItems);
			};
			// dF 删除标签函数
			function dF(x)
			{
				var idob=document.getElementsByClassName(x);
				var num=idob.length;  // tips:在下面for循环中如果重复调用idob.length，idob会因为删除了节点值而发生变化，所以提前获取length值，用num替换循环
				for(i=0;i<num;i++)
				{
					if(idob[0]!=null){
						idob[0].parentNode.removeChild(idob[0]);
					};
				};
			};
			// aF 添加标签li，param为选择的一级参数类，listItem为一级参数下的二级参数
			function aF(param,listItem)
			{
				for(var p in listItem)
				{
					var setlists=document.getElementById('set-lists');
					var li=document.createElement('li')
					li.className="set_secend_param";
					li.id=listItem[p];
					li.innerText=listItem[p]+" : ";
					setlists.appendChild(li);
					var inp=document.createElement('input');
					inp.type="text";
					inp.name=listItem[p];
					inp.style="width:100px;"
					li.appendChild(inp);
				};
			};	
		
		</script>
		<script>
			function getMouse_Coordinates(e){
				el=document.getElementById("canvasId");
				cr=el.getBoundingClientRect();
				x=Math.round(e.clientX-cr.x);
				y=Math.round(e.clientY-cr.y);
				document.getElementById("xycoordinates").innerHTML="X: "+x+",Y: "+y;
				return {X:x,Y:y};
			}
			function createEchartsDom(X,Y){
				var Dh = document.getElementsByClassName("dashbord");
				var di=document.getElementById("canvas-container");
				var diCharts=document.createElement("div");
				diCharts.className="dashbord";
				NUM = Dh.length + 1;
				ids="ins-line"+NUM;
				diCharts.id=ids;
				diCharts.style="width:300px;height:300px;float:left;display:inline;list-style-type:none;margin:0;padding:0;border:black solid thin;";
				diCharts.style.position="absolute";
				diCharts.style.left=X+"px";
				diCharts.style.top=Y+"px";
				di.appendChild(diCharts);
			};
			function createEcharts(cha){
				// 基于准备好的dom，初始化echarts实例
				var myChart = echarts.init(document.getElementById(cha));
				// 指定图表的配置项和数据
				var option = {
							xAxis: {
								type: 'category',
								boundaryGap: false,
								data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
							},
							yAxis: {
								type: 'value'
							},
							series: [{
								data: [820, 932, 901, 934, 1290, 1330, 1320],
								type: 'line',
								areaStyle: {}
							}]
						};
				// 使用刚指定的配置项和数据显示图表。
				myChart.setOption(option);				
			}
		
		</script>		
		<script>
			
			// allowDrop函数，规定拖动的对象可以放在的位置,preventDefault()阻止默认行为。
			function allowDrop(v){
				v.preventDefault();
			};
			// drag函数，规定拖动对象，即拖动什么
			function drag(v){
				v.dataTransfer.setData("Img",v.target.id);
			};
			// drop函数，规定放下对象，即放下什么
			function drop(v){
				v.preventDefault();
				var data=v.dataTransfer.getData("Img");
				X=getMouse_Coordinates(v).X;
				Y=getMouse_Coordinates(v).Y;
				createEchartsDom(X,Y);
				createEcharts(ids);
			};
		</script>
		<script>
			function setConvas_width(){
				var Canvas=document.getElementById("mianCanvas");
				var wid=document.getElementById("canvas-width").value;
				Canvas.setAttribute('width',wid);
			}
			function setConvas_height(){
				var Canvas=document.getElementById("mianCanvas");
				var hei=document.getElementById("canvas-height").value;
				Canvas.setAttribute('height',hei);
			}
		</script>
		<script>
			 

		</script>
	</head>
	<body>
    	<h1 style="font-style:normal" align="center">自定义图表</h1>
		<!--设置左右居中的写法： margin: 0 auto-->
    	<div id="echart_frame" style="width:1700px;height:900px;margin: 0 auto;">
        	<div id="headlist" style="width:1700px">
				<div style="width:1700px;height:48px;">
				<ul id="menu">
					<li class="menu" id="menu1">线形图</li>
					<li class="menu" id="menu2">条形图</li>
					<li class="menu" id="menu3">饼状图</li>
					<li class="menu" id="menu4">散点图</li>
					<li class="menu" id="menu5">漏斗图</li>
				</ul>
				</div>
				<div style="width:600px;height:48px;">
					宽度：<input id="canvas-width" type="number" style="width:50px;height:20px;" onchange="setConvas_width()" />
					长度：<input id="canvas-height" type="number" style="width:50px;height:20px;" onchange="setConvas_height()" />
					
				</div>
			</div>
			<div style="width:1700px;">
				<div class="leftlist" style="width:300px;height:800px;float:left;display:inline;border:black solid thin;">
				<form id="set-echarts-form" method="get">
					<h2 style="width:300px;height:30px;margin:0;padding:0;">参数值选择</h2>
					<div id="leftmenu">
						<ul style="list-style-type:none;margin:0;padding:0;">
							参数类：<input id="params-list" type="text" list="params-lists" onchange="fun()"/>
							<datalist id="params-lists">
								{% for para in params %}
								<option value="{{ para }}"/>
								{% endfor %}
							</datalist>
						<br />
						<input type="reset" value="清除"/>
						<input type="submit" value="确定"/>
						</ul>
					</div>
					<div style="width:300px;height:670px;overflow:auto;">
						<ul id="set-lists" style="list-style-type:none;margin:0;padding:0;">
						</ul>
					</div>
				</form>
				</div>
				<div class="canvas-container" id="canvasId" style="width:1000px;height:800px;float:left;display:inline;border:black solid thin;overflow:auto;">
					<!--h2 style="width:300px;height:30px;margin:0;padding:0;">画布</h2-->
					<div class="div-canvas" id="canvas-container" style="width:1000px;height:800px;" ondrop="drop(event)" ondragover="allowDrop(event)" onmousemove="getMouse_Coordinates(event)"></div>
					<div id="xycoordinates"></div>
				</div>
				<div class="echarts-controls" style="width:350px;height:800px;float:left;display:inline;border:black solid thin;">
					<h2 style="width:350px;height:30px;margin:0;padding:0;">图表类选择</h2>
					<div class="echarts-lists" style="width:350px;height:770px;overflow:auto;">
						<ul style="list-style-type:none;margin:0;padding:0;width:280px;height:280px;">
							<img id="style-line" src="{{ url_for('static',filename='./images/line.png') }}" draggable="true" ondragstart="drag(event)" alt="折线图" style="width:270px;height:270px;list-style-type:none;margin:0;padding:0;border:black solid thin;"/>
							<img id="style-line-smooth" src="{{ url_for('static',filename='./images/line-smooth.png') }}" draggable="true" ondragstart="drag(event)" alt="曲线图" style="width:270px;height:270px;list-style-type:none;margin:0;padding:0;border:black solid thin;"/>
							<img id="style-bar" src="{{ url_for('static',filename='./images/bar.png') }}" draggable="true" ondragstart="drag(event)" alt="条形图" style="width:270px;height:270px;list-style-type:none;margin:0;padding:0;border:black solid thin;"/>
							<img id="style-pie" src="{{ url_for('static',filename='./images/pie.png') }}" draggable="true" ondragstart="drag(event)" alt="饼状图" style="width:270px;height:270px;list-style-type:none;margin:0;padding:0;border:black solid thin;"/>
							<img id="style-funnel" src="{{ url_for('static',filename='./images/funnel.png') }}" draggable="true" ondragstart="drag(event)" alt="漏斗图" style="width:270px;height:270px;list-style-type:none;margin:0;padding:0;border:black solid thin;"/>
						</ul>
					</div>
				</div>
			</div>
    	</div>
		
		<br />
		<!--script>
		// convas 的js渲染得放到convas元素后面
			var c=document.getElementById("mianCanvas");
			var cxt1=c.getContext("2d");
			cxt1.fillStyle="#FF0000";
			cxt1.fillRect(0,0,150,75);
			var cxt2=c.getContext("2d");
			cxt2.fillStyle="#00FF00";
			cxt2.fillRect(50,50,200,50);
			cxt2.stroke();
		</script-->

	</body>
</html>