<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8">
    	<title>set-echarts</title>
		<!--锚伪类写法
			a:link {color: #FF0000}		/* 未访问的链接 */
			a:visited {color: #00FF00}	/* 已访问的链接 */
			a:hover {color: #FF00FF}	/* 鼠标移动到链接上 */
			a:active {color: #0000FF}	/* 选定的链接 */
			提示：在 CSS 定义中，a:hover 必须被置于 a:link 和 a:visited 之后，才是有效的。
			提示：在 CSS 定义中，a:active 必须被置于 a:hover 之后，才是有效的。
			提示：伪类名称对大小写不敏感。
			-->
		<style>
		#menu ul
		{
			list-style-type:none;
			margin:0;
			padding:0;
			padding-top:12px;
			padding-bottom:12px;
		}
		li.menu
		{
			display:inline;
		}
		#menu a:link,a:visited
		{
			font-weight:bold;
			color:#FFFFFF;
			background-color:#bebebe;
			width:120px;
			text-align:center;
			padding:18px;
			text-decoration:none;
			text-transform:uppercase;
		}
		#menu a:hover,a:active
		{
			background-color:#cc0000;
		}
		</style>
		<script>
			// menusJson为传入的json字符串
			function fun()
			{
				var x='set_secend_param';
				dF(x);
				var param = document.getElementById('params-list').value;
				var menusj = eval('('+ {{ menusJson|tojson }} +')');
				if (param==''){
					param="{{params[0]}}";
					};
				var paramItems = menusj[param];
				// var paramItems = eval('('+ paramItem +')');
				aF(param,paramItems);
			};
			function dF(x)
			{
				idob=document.getElementsByClassName(x);
				for(i=0;i<idob.length;i++)
				{
					if(idob[i]!=null){
						idob[i].parentNode.removeChild(idob[i]);
					};
				};
			};
			// aF添加标签li，param为选择的一级参数类，listItem为一级参数下的二级参数
			function aF(param,listItem)
			{
				for(var p in listItem)
				{
					var setlists=document.getElementById('set-lists');
					var li=document.createElement('li')
					li.className="set_secend_param";
					li.id=listItem[p];
					li.innerText=listItem[p]+" : ";
					setlists.appendChild(li);
					var inp=document.createElement('input');
					inp.type="text";
					inp.name=listItem[p];
					inp.style="width:100px;"
					li.appendChild(inp);
				};
			};	
		
		</script>
	</head>
	<body>
    	<h1 style="font-style:normal" align="center">自定义图表</h1>
		<!--设置左右居中的写法：margin: 0 auto-->
    	<div id="echart_frame" style="width:1300px;height:800px;margin: 0 auto;">
        	<div id="headlist" style="width:1300px;height:48px;">
				<ul id="menu">
					<li class="menu" id="menu1"><a href title="chart1">chart1</a></li>
					<li class="menu" id="menu2"><a href title="chart2">chart2</a></li>
					<li class="menu" id="menu3"><a href title="chart3">chart3</a></li>
					<li class="menu" id="menu4"><a href title="chart4">chart4</a></li>
					<li class="menu" id="menu5"><a href title="chart5">chart5</a></li>
					<li class="menu" id="menu6"><a href title="chart6">chart6</a></li>
					<li class="menu" id="menu7"><a href title="chart7">chart7</a></li>
					<li class="menu" id="menu8"><a href title="chart8">chart8</a></li>
				</ul>
			</div>
			<div style="width:1400px;">
				<div id="leftlist" style="width:300px;height:700px;float:left;display:inline;border:black solid thin;">
				<form id="set-echarts-form" method="get">
					<h2>参数值选择</h2>
					<div id="leftmenu">
					<ul style="list-style-type:none;margin:0;padding:0;">
						参数类：<input id="params-list" type="text" list="params-lists" onchange="fun()"/>
						<datalist id="params-lists">
							{% for para in params %}
							<option value="{{ para }}"/>
							{% endfor %}
						</datalist>
					<br />
					<input type="reset" value="清除"/>
					<input type="submit" value="确定"/>
					</ul>
					</div>
					<div>
					<ul id="set-lists" style="list-style-type:none;margin:0;padding:0;">

					</ul>
					</div>

				</form>
				</div>
				<div id="canvas" style="width:700px;height:700px;float:left;display:inline;border:black solid thin;">
					<h2>画布</h2>
					<canvas id="mianCanvas" type="width:1800px;height:1800px;">
					</canvas>
				</div>
				<div id="echarts" style="width:300px;height:700px;float:left;display:inline;border:black solid thin;">
					<h2>图类选择</h2>
				</div>
			</div>
    	</div>
		
		<br />
		

	</body>
</html>